bin/
.m2/
target/
.settings/
.idea/
.classpath
.project
MMOCore.eml
MMOCore.iml
dependency-reduced-pom.xml
/MMOCore-API/MMOCore-API.iml
/MMOCore-API/.flattened-pom.xml
/MMOCore-Dist/.flattened-pom.xml
/MMOCore-Dist/MMOCore-Dist.iml
/MMOCore-Dist/MMOCore-Bukkit.iml
